In [586]:
from nltk.corpus import stopwords
import re
import pandas as pd
df = pd.read_csv('cuisine_data.csv')

In [587]:
df

                                     cuisine_description      cuisine
0      romaine lettuce black olives grape tomatoes ga...        greek
1      plain flour ground pepper salt tomatoes ground...  southern_us
2      eggs pepper salt mayonaise cooking oil green c...     filipino
3                         water vegetable oil wheat salt       indian
4      black pepper shallots cornflour cayenne pepper...       indian
...                                                  ...          ...
39769  light brown sugar granulated sugar butter warm...        irish
39770  kraft zesty italian dressing purple onion broc...      italian
39771  eggs citrus fruit raisins sourdough starter fl...        irish
39772  boneless chicken skinless thigh minced garlic ...      chinese
39773  green chile jalapeno chilies onions ground bla...      mexican

[39774 rows x 2 columns]

In [588]:
df.shape

(39774, 2)

In [589]:
len(df)

39774

In [590]:
df.describe()

       cuisine_description  cuisine
count                39774    39774
unique               39674       20
top        unsalted butter  italian
freq                     3     7838

In [591]:
df.values

array([['romaine lettuce black olives grape tomatoes garlic pepper purple onion seasoning garbanzo beans feta cheese crumbles',
        'greek'],
       ['plain flour ground pepper salt tomatoes ground black pepper thyme eggs green tomatoes yellow corn meal milk vegetable oil',
        'southern_us'],
       ['eggs pepper salt mayonaise cooking oil green chilies grilled chicken breasts garlic powder yellow onion soy sauce butter chicken livers',
        'filipino'],
       ...,
       ['eggs citrus fruit raisins sourdough starter flour hot tea sugar ground nutmeg salt ground cinnamon milk butter',
        'irish'],
       ['boneless chicken skinless thigh minced garlic steamed white rice baking powder corn starch dark soy sauce kosher salt peanuts flour scallions chinese rice vinegar vodka fresh ginger egg whites broccoli toasted sesame seeds sugar store bought low sodium chicken stock baking soda shaoxing wine oil',
        'chinese'],
       ['green chile jalapeno chilies onions ground black pepper salt chopped cilantro fresh green bell pepper garlic white sugar roma tomatoes celery dried oregano',
        'mexican']], dtype=object)

In [592]:
df.columns

Index(['cuisine_description', 'cuisine'], dtype='object')

In [593]:
df.index

RangeIndex(start=0, stop=39774, step=1)

In [594]:
df

                                     cuisine_description      cuisine
0      romaine lettuce black olives grape tomatoes ga...        greek
1      plain flour ground pepper salt tomatoes ground...  southern_us
2      eggs pepper salt mayonaise cooking oil green c...     filipino
3                         water vegetable oil wheat salt       indian
4      black pepper shallots cornflour cayenne pepper...       indian
...                                                  ...          ...
39769  light brown sugar granulated sugar butter warm...        irish
39770  kraft zesty italian dressing purple onion broc...      italian
39771  eggs citrus fruit raisins sourdough starter fl...        irish
39772  boneless chicken skinless thigh minced garlic ...      chinese
39773  green chile jalapeno chilies onions ground bla...      mexican

[39774 rows x 2 columns]

In [595]:
len(df["cuisine"].value_counts())  #therefore 20 cuisines are mebtioned

20

In [596]:
df.cuisine.unique()

array(['greek', 'southern_us', 'filipino', 'indian', 'jamaican',
       'spanish', 'italian', 'mexican', 'chinese', 'british', 'thai',
       'vietnamese', 'cajun_creole', 'brazilian', 'french', 'japanese',
       'irish', 'korean', 'moroccan', 'russian'], dtype=object)

In [597]:
df.isnull().sum()

cuisine_description    0
cuisine                0
dtype: int64

In [598]:
df.duplicated().sum()

97

In [599]:
df.shape

(39774, 2)

In [600]:
df.drop_duplicates(inplace=True)

In [601]:
df.shape

(39677, 2)

In [602]:
df["cuisine_description"].str.len().sum()   #this gives number of letters in a column

5397786

In [603]:
df['cuisine_description'].apply(lambda x: len(x.split(' ')))   #THIS GIVES NO OF WORDS IN A ROW

0        16
1        19
2        20
3         5
4        33
         ..
39769    24
39770    18
39771    17
39772    45
39773    23
Name: cuisine_description, Length: 39677, dtype: int64

In [604]:
df['cuisine_description'].apply(lambda x: len(x.split(' '))).sum()   #total number of words in column cuisin_description   here x is a string
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series

806112

In [605]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Designoo
[nltk_data]     09\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [606]:
special_character_remover = re.compile('[/(){}\[\]\|@,;]')
extra_symbol_remover = re.compile('[^0-9a-z #+_]')  
#[0-9a-zA-Z. +_]+ means the regex is searching for any single character that is either a digit between 0-9,
#  or a lower case letter between a and z, or an upper case letter between A and Z, or a period, or a plus sign,
#  or an underscore.
STOPWORDS = set(stopwords.words('english'))  #removing any english stopwords from rows

In [607]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [608]:
#this is data preprocessing

df['cuisine_description']=df['cuisine_description'].apply(lambda x:x.lower())
df['cuisine_description']=df['cuisine_description'].apply(lambda x:special_character_remover.sub("",x)) #this is used to substitute characters in place of given set of characters in regular expression with "" in this case
df['cuisine_description']=df['cuisine_description'].apply(lambda x:extra_symbol_remover.sub("",x))
df['cuisine_description']=df['cuisine_description'].apply(lambda x:' '.join(word for word in x.split() if word not in STOPWORDS))

In [609]:
df['cuisine_description'].apply(lambda x: len(x.split(' '))).sum()  #now number of words decreased since we  have removed extra symbols,stopwords,characters

803335

In [610]:
df

                                     cuisine_description      cuisine
0      romaine lettuce black olives grape tomatoes ga...        greek
1      plain flour ground pepper salt tomatoes ground...  southern_us
2      eggs pepper salt mayonaise cooking oil green c...     filipino
3                         water vegetable oil wheat salt       indian
4      black pepper shallots cornflour cayenne pepper...       indian
...                                                  ...          ...
39769  light brown sugar granulated sugar butter warm...        irish
39770  kraft zesty italian dressing purple onion broc...      italian
39771  eggs citrus fruit raisins sourdough starter fl...        irish
39772  boneless chicken skinless thigh minced garlic ...      chinese
39773  green chile jalapeno chilies onions ground bla...      mexican

[39677 rows x 2 columns]

In [611]:
import sklearn

In [612]:
from sklearn.model_selection import train_test_split

In [613]:
x=df.cuisine_description
y=df.cuisine

In [614]:
x

0        romaine lettuce black olives grape tomatoes ga...
1        plain flour ground pepper salt tomatoes ground...
2        eggs pepper salt mayonaise cooking oil green c...
3                           water vegetable oil wheat salt
4        black pepper shallots cornflour cayenne pepper...
                               ...
39769    light brown sugar granulated sugar butter warm...
39770    kraft zesty italian dressing purple onion broc...
39771    eggs citrus fruit raisins sourdough starter fl...
39772    boneless chicken skinless thigh minced garlic ...
39773    green chile jalapeno chilies onions ground bla...
Name: cuisine_description, Length: 39677, dtype: object

In [634]:
y

0              greek
1        southern_us
2           filipino
3             indian
4             indian
            ...
39769          irish
39770        italian
39771          irish
39772        chinese
39773        mexican
Name: cuisine, Length: 39677, dtype: object

In [635]:
from sklearn.model_selection import train_test_split
X = df.cuisine_description
y = df.cuisine
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [643]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import  TfidfVectorizer,TfidfTransformer  #tfidfvectorizer is combination of countvectorizer and tfidftranformer so rather than using both we are using tfidfvectorizer

In [649]:
lr = Pipeline([
               ('tfidf', TfidfVectorizer()),
               ('clf', LogisticRegression(solver='lbfgs', max_iter=4000)), #4000 because there are approx 4000 rows in dataframe
              ])

In [650]:
lr.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('clf', LogisticRegression(max_iter=4000))])

In [652]:
y_pred1 = lr.predict(X_test)

In [653]:
from sklearn.metrics import accuracy_score

In [654]:
accuracy_score(y_test,y_pred1)

0.7825100806451613

In [ ]:
#pipeline is very fast method rather than using each algorithm separately